{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .auction24{
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
        .elements{
            border: 1px solid black;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="auction24">
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"><a href='{% url "index" %}'>detail page </div> {% endcomment %}
            {% for i in auction24 %}
            <div class="elements auction24">{{i.itemid.itemname}}</div>
            {% endfor %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
    
        {% comment %} <div class="elements auction24element"><img src='{% static '/images/sitar.jpg' %}' alt="sitar" width="200" height="200"></div> {% endcomment %}
    </div>
</body>
</html>