<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'additem'  %}">Add Item</a>
    <a href="{% url 'history' %}">history</a>
    
    {% for objectlist in objectlists %}
        <div>

            <h3>{{objectlist.itemid}}</h3>
            <h3>{{objectlist.itemname}}</h3>
            <h3>{{objectlist.itemstartingprice}}</h3>
            <h3>{{objectlist.status}}</h3>
            <a href="#">update</a>
            <form action="">
            <a href="{% url 'deleteitem' objectlist.itemid %}">delete</a>


        </div>

    {% endfor %}
    
</body>
</html>